/********** HEADER **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    position: fixed;
    z-index: 3;
}

ul {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 100%;
    justify-content: space-between;
    gap: 52px;
    list-style-type: none;
    color: antiquewhite;
}

ul :hover {
    transition: all 0.5s ease;
    color: aqua;
}

.link{
    color: #fafafa;
    text-decoration: none;
}

section{
    scroll-snap-align: start;

}
/* .redes{
    display: flex;
    margin-left: 100%;
    align-items: center;
    padding-right: 100px;
    gap: 30px;
    position: absolute;
        z-index: 2;

} */


/********** SECTION - HOME **********/

.home {
    display: flex;
    max-width: auto;
    height: 1080px; /*Arrumar dimensões*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    background-image: url("imagens-portifolio/_.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.dev {
    background-color: rgba(0, 255, 234, 0.5);
    color: aqua;
    border-radius: 45px;
    padding: 15px 40px;
    text-align: center;
    border: 2px solid #09302c;
}
/* .dev :hover{
    transition: all 0.5s ease;
    color: white;

} */

.text-home {
    position: absolute;
    z-index: 2;
    font-size: clamp(15px, 3vw, 25px);
    color: rgb(255, 255, 255);
    white-space: nowrap;
}


/* .video-home {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
} */


/********** SECTION 2 **********/

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 1080px;
    position: relative;
    background-color: aquamarine;
    scroll-snap-align: start;
    background-image: url(imagens-portifolio/sessao1.png);
    
    
}

.sobre::before{
    display: flex;
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    background-color: rgba(15, 15, 15, 0.5);
    z-index: 1;
}

.info {
    display: flex;
    gap: 50px;
    color: #fafafa;
    text-shadow: 1px 1px 3.5px #0f0f0f;
    z-index: 2;
}

.biografia {
    display: flex;
    flex-direction: column;
    width: 30vh;
    gap: 25px;
}

.perfil {
    display: flex;
    width: 45vh;
    height: 50vh;
    box-shadow: 5px 4px 5px #292929;
    border-radius: 25px;
}


/* ********** SECTION 3 ********** */

.projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap:20px;
    width: 100%;
    height: 1080px;
    scroll-snap-align: start;
    background-image: url(./imagens-portifolio/sessao3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    


}

.projetos::before{
    display: flex;
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    background-color: rgba(15, 15, 15, 0.5);
    z-index: 1;
}

.card {
    display: flex;
    background-color: rgba(0, 255, 234, 0.5);
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    width: 30%;
    height: 70px;
    text-align: center;
    z-index: 2
    ;
}
.card:hover{
    box-shadow: 10px 10px whitesmoke;
    transition: 0.5s ease-out;
}

/* ********** FOOTER ********** */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 540px;
    background-color: #0f0f0f;

}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.linha{
    background-color: rgba(250, 250, 250, 0.5);
    width: 1px;
    height: 150px;
}
.contato{
    display: flex;
    flex-direction: column;
    color: #fafafa;
    gap: 15px;
}